.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-slide img {
  width: 100%;
  height: auto; /* Ensure image aspect ratio is maintained */
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.13); Black overlay with reduced opacity */
  z-index: 1; /* Make sure the overlay is above the image but below the text */
}

.banner-text {
  position: absolute;
  z-index: 2; /* Make sure the text is above the overlay */
  text-align: center;
  color: white;
  opacity: 1; /* Full opacity for text */
  padding: 0 20px; /* Add padding for better text alignment */
  box-sizing: border-box; /* Include padding in width calculation */
  top: 40%; /* Adjust vertical position */
  transform: translateY(-50%); /* Center vertically */
}

.banner-text h1 {
  font-size: 9vw; /* Responsive font size based on viewport width */
  color: #2f2618;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.banner-text p {
  font-size: 3vw; /* Responsive font size based on viewport width */
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
